.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-left: auto;
  margin-top: 0;
  margin-left: 0;
  text-align: top;
}

.khan__buy-link:hover {
  opacity: 50%;
  transition: ease 1s;
}
